.a-ripple-in {
  opacity: 0.3;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(2.7);
  transition: all 0.3s cubic-bezier(0.1, 0.2, 0.5, 1);
}
.a-ripple-out {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s cubic-bezier(0, 0.53, 0.02, 0.97);
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.grow-y-enter-active {
  animation: grow-y cubic-bezier(1, 0.5, 0.8, 1) 0.25s;
}
.grow-y-leave-active {
  animation: grow-y cubic-bezier(1, 0.5, 0.8, 1) 0.25s reverse;
}
@keyframes grow-y {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 1000px;
  }
}
.transition {
  transition: all 0.25s cubic-bezier(0.4, 0.2, 0.4, 1);
}
.transition-none {
  transition: none !important;
}